{
    "plugins": [
        "transform-flow-strip-types"
    ],
    "presets": [
        "es2015"
    ],
    "env": {
        "server": {
            "plugins": [
                [
                    "babel-plugin-transform-require-ignore",
                    {
                        "extensions": [".css"]
                    }
                ]
            ]
        }
    }
}