{
    "plugins": [
        "transform-flow-strip-types"
    ],
    "presets": [
        ["es2015", { "modules": false }]
    ],
    "env": {
        "test": {
            "presets": [
                "es2015"
            ]
        }
    }
}