{
    "lines": 80,
    "statements": 80,
    "functions": 80,
    "branches": 80,
    "extension": [
      ".js",
      ".jsx"
    ],
    "include": [
      "static/src/**/*.js",
      "static/src/**/*.jsx"
    ],
    "exclude": [
      "static/src/**/*.test.js"
    ],
    "require": [
      "babel-register",
      "babel-polyfill"
    ],
    "cache": true,
    "all": true,
    "sourceMap": true,
    "check-coverage": true
}
